.equipe-liste {
    width: 85vw;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    
    

      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  span {
      color: black;
      display: block;
      margin-right: 650px;
  }
    
  }
  