
.navbar {
    background-color: #23384b;    padding-left: 20px;
    color: white;
    width: 100px;
    
    left : 0%;
    position: fixed;
    z-index: 200px;

  .nav-link {
      color: lightyellow;
  }
  .navbar-brand {
color: #ffef80;
font-style: oblique;
}
}

