.page-calendrier{
  font-family: times;
  border-radius: 10px;

   p {
        position: center;
        margin-left: 125px;      }

      .react-calendar {
        margin-left: 125px;
        width: 1000px;
    }
}

